<div class="row">
    <div class="col-md-8  col-md-offset-2">
        <table class="table table-striped">
            <tbody>
                <tr *ngFor="let item of items | slice:0:15">
                    <td>
                        <item itemID="{{ item }}"></item>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div>
</div>
